.portfolio {
    padding-top: 100px;
    width: 100%;
    

}

.portfolio > ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  
    

}

.portfolio > ul > li {
    flex-direction: row;
 
    padding: 50px;

}


.modal {
    font-size: 12px;
    background-color: hotpink;

}


.modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;

}


.modal > .content {
    width: 100%;
    padding: 10px 5px;

}


.modal > .actions {
    width: 100%;
    padding: 10px 5px;

}


.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;

}


.heroku {
    margin-bottom: -5px;
    padding-left: 10px;

}