.App {
  text-align: center;
  height: 100%;
 

}

.main {
  margin-top: 70px;
  height:100%;
}

.about {
  margin-top: 300px;
  margin-bottom: 300px;
}

.contact {
  margin-top: 300px;
  margin-bottom: 300px;
}

