.App {
  text-align: center;
  height: 100%;
  position: relative;
 

}

.main {
  margin-top: 70px;
  height:100%;
}

.about {
  padding-top: 100px;
  margin-top: 300px;
  margin-bottom: 300px;
}

.portfolio {
  padding-top: 100px;
}

.contact {
  margin-top: 300px;
  margin-bottom: 300px;
}

